global:
  scrape_interval: 1s

scrape_configs:
  - job_name: 'orders'
    static_configs:
      - targets: ['host.docker.internal:5000']
  - job_name: 'products'
    static_configs:
      - targets: ['host.docker.internal:5002']
  - job_name: 'storeux'
    static_configs:
      - targets: ['host.docker.internal:5176']
  - job_name: 'proxy'
    static_configs:
      - targets: ['host.docker.internal:4999']